html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  /* background-image: url('./backgroundImages/biking-min.jpeg');
  background-size: cover;
  background-repeat: no-repeat; */
}

.searchPage {
  background-size: cover;
  background-repeat: no-repeat;
  animation: animate 16s ease-in-out infinite;
}
@keyframes animate {
  0%,
  100% {
    background-image: url('./backgroundImages/basket-min.jpeg');
  }
  25% {
    background-image: url('./backgroundImages/biking-min.jpeg');
  }
  50% {
    background-image: url('./backgroundImages/fitness-min.jpeg');
  }
  75% {
    background-image: url('./backgroundImages/volleygirls-min.jpeg');
  }
}

.lanLigst {
  background-color: rgba(8, 255, 62, 0.185);
  color: rgb(0, 0, 0);
}

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.pagination {
  position: justify;
  text-align: center;
  margin-left: 130px;
  margin-top: 20px;
}
