html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

.searchPage {
  background-size: cover;
  background-repeat: no-repeat;
  animation: animate 16s ease-in-out infinite;
}
@keyframes animate {
  0%,
  100% {
    background-image: url("./backgroundImages/basket-min.jpeg");
  }
  25% {
    background-image: url("./backgroundImages/biking-min.jpeg");
  }
  50% {
    background-image: url("./backgroundImages/fitness-min.jpeg");
  }
  75% {
    background-image: url("./backgroundImages/volleygirls-min.jpeg");
  }
}
.page {
  min-height: 100vh;
}

.logo {
  border: solid rgb(255, 255, 255) 1px;
  background-color: rgb(38, 255, 67);
}
.logo:hover {
  border: solid rgb(38, 255, 67) 1px;
  box-shadow: 0 0 5px #59f7a8, 0 0 20px #59f7a8, 0 0 44px #59f7a8;
}
@import url("https://fonts.googleapis.com/css2?family=Faster+One&family=Monoton&family=Pacifico&display=swap");
.logoName {
  font-family: "Faster One", cursive;
  color: red;
  position: relative;
  top: -4px;
}
#fit {
  color: rgb(45, 250, 26);
}

.navMenue {
  color: rgb(181, 255, 9);
  margin-right: 20px;
}
.navMenue:hover {
  color: rgb(251, 252, 250);
  background-color: rgba(67, 184, 0, 0.26);
}

.lanLigst {
  background-color: rgba(8, 255, 62, 0.185);
  color: rgb(0, 0, 0);
}

@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

section {
  position: relative;
  text-align: justify;
}

section .section-title {
  text-align: center;
  color: #007b5e;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  border-radius: 15px;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.mainflip {
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -ms-transition: 1s;
  -moz-transition: 1s;
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;
}

.frontside {
  position: absolute;
  top: 0;
  left: 0;
  background: url(https://cdn.glitch.com/323a5f71-5800-4689-9792-0fed771775d5%2F23.png?v=1595013931249);
  background-size: cover;
  background-position: center;
  border: none;
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  max-height: 312px;
  max-width: 200px;
  height: 312px;
  width: 200px;
  z-index: 2;
}

.backside {
  position: relative;
  top: 0;
  left: 0;
  border: 10px solid transparent;
  background: url(https://cdn.glitch.com/323a5f71-5800-4689-9792-0fed771775d5%2Fhiclipart.co.png?v=1594952499971);
  background-size: cover, cover;
  background-position: center;
  border: none;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  max-height: 312px;
  max-width: 200px;
  height: 312px;
  width: 200px;
}

.frontside,
.backside {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 1s;
  -moz-transform-style: preserve-3d;
  -o-transition: 1s;
  -o-transform-style: preserve-3d;
  -ms-transition: 1s;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
}

.btn-neon {
  position: relative;
  text-decoration: none;
  top: 23px;
  right: 0px;
  color: #f5f5f5;
  width: 200px;
  height: 265px;
  transition: 1s;
  transition-delay: 1s;
  display: inline-block;
  border-radius: 10px;
}

.btn-neon:hover {
  box-shadow: 0 0 5px #fcc57e, 0 0 20px #fcc57e, 0 0 44px #fcc57e;
}

.btn-neon:hover polyline {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  stroke-linecap: round;
  animation: dash 5s linear forwards;
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
.btn-neon svg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 15px;
}

.btn-neon svg polyline {
  fill: transparent;
  stroke: #f58e07;
  stroke-width: 3px;
  stroke-dasharray: 40 460;
  stroke-dashoffset: 40;
  transition: 3s ease-in-out;
}
#myphoto {
  position: relative;
  top: -20px;
  width: 150px;
  height: 150px;
  border-radius: 30px;
  box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  border-color: grey;
}

.card-name {
  position: relative;
  top: 5px;
  text-align: center;
  font-size: medium;
  font-weight: bolder;
  color: rgb(8, 66, 8);
  right: 5px;
}
.card-title {
  position: relative;
  top: -10px;
  color: rgb(36, 0, 238);

  right: 5px;
}
.card-location {
  position: relative;
  top: -22px;
  text-align: center;
  font-size: medium;
  font-weight: bolder;

  color: rgb(8, 66, 8);
  right: 5px;
}
.card-lang {
  color: rgb(255, 255, 255);
  background-color: rgba(60, 61, 60, 0.466);
  width: 30px;
  border-radius: 30px;
  font-weight: bold;
  position: relative;
  bottom: 33px;
  left: 23px;
}
.card-price {
  color: rgb(255, 255, 255);
  background-color: rgba(60, 61, 60, 0.466);
  width: 80px;
  border-radius: 30px;
  font-weight: bold;
  position: relative;
  bottom: 78px;
  left: 60px;
}
.coachInfo {
  position: relative;
  top: 15px;
  right: 5px;
  background-color: #66666541;
  border-radius: 15px;
  height: 90px;
}
.card-head {
  color: #007b5e !important;
  position: relative;
  top: 7px;
  font-size: larger;
  text-align: center;
  background-color: #f5e2a473;
  border-radius: 15px;
  width: 80px;
}
.card-text {
  position: absolute;
  top: 40px;
  left: 4.5px;
  color: #0817ee;
  text-align: center;
  font-size: 14px;
  background-color: #a19b9b9c;
  border-radius: 20px;
  font-weight: bolder;
  width: 95%;
}
.backText {
  text-overflow: ellipsis;
  overflow: hidden;
}
p {
  /* BOTH of the following are required for text-overflow */

  overflow: hidden;
}
#pic {
  position: relative;
  top: 15px;
  right: 5px;
}
.pagination {
  position: justify;
  text-align: center;
  margin-left: 260px;
  margin-top: 20px;
}

.Container {
  position: fixed;
  padding: 20px;
  margin: 0px;
  top: 120px;
}
.leftSide {
  position: fixed;
  background-color: red;
  width: 300px;
  height: 450px;
  padding: 20px;
  border-radius: 20px;
  text-align: left;
  left: 100px;
}
#coach {
  position: relative;
  top: 195px;
  text-align: center;

}
#pics {
  position: absolute;
  top: 10px;
  left: 55px;
  height: 200px;
  width: 200px;
}
.infoLeftSide {
  position: relative;
  top: 210px;
  left: 50px;
}

.up {
  position: fixed;
  left: 480px;
  width: 400px;
  height: 200px;
  padding: 20px;
  border-radius: 20px;
  background-color: red;
}
.down {
  position: fixed;
  left: 480px;
  top: 380px;
  width: 400px;
  height: 200px;
  padding: 20px;
  border-radius: 20px;
  background-color: red;
}

.leftInfo {
  position: relative;
  left: 10px;
  text-align: left;
}
#leftIcon {
  position: relative;
  left: -30px;
  text-align: left;
}
.rightSide {
  position: fixed;
  left: 960px;
  background-color: red;
  width: 300px;
  height: 450px;
  padding: 20px;
  border-radius: 20px;
  text-align: left;
}
