html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

.searchPage {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  animation: animate 16s ease-in-out infinite;
}
@keyframes animate {
  0%,
  100% {
    background-image: url("./backgroundImages/wesley.jpg");
  }
  25% {
    background-image: url("./backgroundImages/braden.jpg");
  }
  50% {
    background-image: url("./backgroundImages/john.jpg");
  }
  75% {
    background-image: url("./backgroundImages/scott.jpg");
  }
}

.lanLigst {
  background-color: rgba(8, 255, 62, 0.185);
  color: rgb(0, 0, 0);
}

@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@1,600&display=swap");

.pagination {
  position: justify;
  text-align: center;
  margin-left: 250px;
  margin-top: 20px;
}


